//colors
$peach : #edc7b7;
$lightpeach: #eee2dc;
$white: #fff;
$black: #000;
$rasberry: #ac3b61;


//font
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$big: 3rem;
$regular: 1.3rem;
$medium: 2.5rem;

html{
    font-family: 'Poppins', sans-serif;
}
h1{
    color: $black;
    font-size: $big;
    
}
h2{
    color: $black;
    font-size: $big;
    
}
p{
    color: $black;
    font-size: $regular;
}
a{
    text-decoration: none;
    color: $black;
    &:hover{
        color:$rasberry;
    }
}

@mixin btn-ask-question {
    background-color: $rasberry;
    color: $lightpeach;
    font-size: $medium;
    padding: 12px 10px;
    border-radius: 5px;
    
    &:hover {
       background-color: $peach;
       color: $lightpeach;
    }
    a{
        color:$lightpeach;
    }
}

@mixin btn-secondary {
    background-color: $peach;
    color: $rasberry;
    font-size: $regular;
    padding: 8px 6px;
    border-radius: 5px;
    
    &:hover {
       background-color: $peach;
       color: $rasberry;
       border: 1px solid $rasberry;
    }
    a{
        color:$rasberry;
    }
}